*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.app .search{
    text-align: center;
    padding: 1rem;
    
}

.app input{
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.4);
    color: #fff;   

}
.search{
    color: #fff;
}
p
{
    font-size: 1.5rem;

}

h1{
    font-size: 2.5rem;
   
}
h5{
    font-size:medium;
    font-weight: 100;
}
.app{
    width: 100%;
    height: 100vh;
    position: relative;
    color: #fff;
    background:url(./asset/day.png) no-repeat center center/cover;
    background-color: aquamarine;
    transition: 0.5s ease-in;
    
   

}
.app.warm{
    background:url(./asset/cold.png) no-repeat center center/cover;
    background-color: black;

    

}

.app::before{
    content: '';
    position: absolute;
    
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    transition: 0.5s ease-out;
}

.container{
    max-width: 700px;
    height: 500px;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow:hidden;
}

.error, .temp, .location{
    justify-content: center;
    text-align: center;
}

.app .top{
    margin: 1rem auto;
    width: 100%;
}

.app .description{
    position: relative;
    right: -98%;
    transform-origin: 0 0;
    transform: rotate(269deg);
}

.weathicon{
    justify-content: space-around;
    display: flex;
    text-align: center;
    margin: 0.5rem auto;
    padding: 0.5rem;
    width: 10rem;
}
.app .bottom{
    justify-content: space-around;
    display: flex;
    text-align: center;
    border-radius: 12px;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    background-color: rgba(255,255,255,0.4);
}
.bold{
    font-weight: 700;
}

.warning{
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 1rem auto;
    background-color: rgba(255,255,255,0.5);
}